*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    box-sizing: border-box;

    font-family: 'Roboto';
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03px;

    color: #757575;

    margin: 0 auto;
}

.align-center {
    margin: 0 auto;
}

.content-width {
    max-width: 1170px;
    margin: 0 auto;
}

.space-bottom {
    padding-bottom: 94px;
}

.space-bottom-small {
    margin-bottom: 30px;
}

.space-bottom-extra-small {
    margin-bottom: 20px;
}

.space-bottom-tiny {
    margin-bottom: 9px;
}

.space-top {
    padding-top: 94px;
}

.space-right {
    margin-right: 26px;
}

.space-right-portfolio {
    margin-right: 26px;
}

.space-mid {
    padding: 60px 0;
}

.grey-background {
    background: #F5F4FA;
}

.dark-grey-background {
    background-color: #2F303A;
}

.page-header {
    padding: 25px 0;
    border-bottom: 1px solid #ECECEC;
}

.page-header .link {
    text-decoration: none;
    font-weight: 500;
    color: #212121;
}

.page-header .current,
.page-header .link:hover,
.page-header .link:focus,
.logo-blue {
    color: #2196F3;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;

    text-decoration: none;
}

.logo-black {
    color: #000;
}

.logo-white {
    color: #FFFFFF;
}

.logo:hover,
.logo:focus {
    opacity: 0.7;
}

.inline {
    display: inline-block;
}

.site-nav {
    display: inline-block;
    margin-left: 93px;
}

.item {
    margin-right: 50px;
}

.header-contact {
    margin-left: 208px;
}

.header-contact .link {
    color: #757575;
}

.hero {
    background-color: #2F303A;
    padding: 200px 0;
}

.hero-title {
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.6px;
    color: #FFFFFF;

    text-align: center;
    text-transform: uppercase;

    width: 660px;

    margin-bottom: 30px;
}

.cta {
    display: block;

    background-color: #2196F3;
    border: none;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.6px;

    color: #FFFFFF;

    padding: 10px 32px;

    cursor: pointer;
}

.cta:hover,
.cta:focus {
    background-color: #1186e7;
}

.cta:active {
    transform: translateY(2px);
}

.cta::after {
    background-color: #1186e7;
}

.visually-hidden {
    height: 0;
    overflow: hidden;
    position: absolute;
}

.features-list {
    list-style: none;
}

.features-list-item {
    display: inline-block;
    width: 270px;
}

.features-list-item-heading {
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;

    color: #212121;
}

.heading {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 50px;

    color: #212121;
}

.services-list {
    list-style: none;
}

.services-list-item {
    display: inline-block;
    height: 294px;
}

.team-list {
    list-style: none;
}

.team-list-item {
    display: inline-block;
    width: 270px;
    padding-bottom: 30px;

    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.heading-name {
    font-weight: 500;
    font-size: 16px;
    text-align: center;

    color: #212121;
    margin-bottom: 10px;
}

.position {
    font-size: 16px;
    text-align: center;
}

.contacts-list {
    list-style: none;
}

.contacts-list-item {
    font-style: normal;
    line-height: 1.7;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

.contacts-list-item:hover {
    text-decoration: underline;
}

.filters-list {
    list-style: none;
    text-align: center;
}

.filters-list-item {
    display: inline;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;

    text-align: center;
    color: #212121;

    padding: 6px 22px;
    background-color: #F5F4FA;
    border-radius: 4px;
}

.filters-list-item:hover, .selected {
    background: #2196F3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
                0px 1px 2px rgba(0, 0, 0, 0.08), 
                0px 2px 2px rgba(0, 0, 0, 0.12);
    color: #FFFFFF;
    cursor: pointer;
}

.portfolio-list {
    list-style: none;
}

.portfolio-list-item {
    display: inline-block;
    border: 1px solid #EEEEEE;
}

.portfolio-list-item:hover, .selected {
    border: 1px solid #2196F3;
}

.portfolio-item-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.6px;

    color: #212121;
    margin: 20px 0 4px 24px;
}

.portfolio-item-description {
    line-height: 1.88;
    color: #757575;
    margin-left: 24px;
    margin-bottom: 20px;
}