*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; 
}

body {
    box-sizing: border-box;

    font-family: 'Roboto';
    font-size: 1.4rem;
    line-height: 1.71;
    letter-spacing: 0.04rem;

    color: #757575;

    margin: 0 auto;
}

.align-center {
    margin: 0 auto;
}

.content-width {
    max-width: 117rem;
    margin: 0 auto;
}

.space-bottom {
    padding-bottom: 9.4rem;
}

.space-bottom-small {
    margin-bottom: 3rem;
}

.space-bottom-extra-small {
    margin-bottom: 2rem;
}

.space-bottom-tiny {
    margin-bottom: .9rem;
}

.space-top {
    padding-top: 9.4rem;
}

.space-right {
    margin-right: 2.6rem;
}

.space-mid {
    padding: 6rem 0;
}

.grey-background {
    background: #F5F4FA;
}

.dark-grey-background {
    background-color: #2F303A;
}

.page-header {
    padding: 2.5rem 0;
    width: 100%;
}

.page-header .link {
    text-decoration: none;
    font-weight: 500;
    color: #212121;
}

.page-header .current,
.page-header .link:hover,
.page-header .link:focus,
.page-header .link:visited,
.logo-blue {
    color: #2196F3;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2.6rem;

    text-decoration: none;
}

.logo-black {
    color: #000;
}

.logo-white {
    color: #FFFFFF;
}

.logo:hover,
.logo:focus {
    opacity: 0.7;
}

.inline {
    display: inline-block;
}

.site-nav {
    display: inline-block;
    margin-left: 9.3rem;
}

.item {
    margin-right: 5rem;
}

.header-contact {
    margin-left: 20.9rem;
}

.header-contact .link {
    color: #757575;
}

.hero {
    background-color: #2F303A;
    padding: 20rem 0;
    border-top: 1px solid #ECECEC;
}

.hero-title {
    font-size: 4.4rem;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06rem;
    color: #FFFFFF;

    text-align: center;
    text-transform: uppercase;

    width: 66rem;

    margin-bottom: 3rem;
}

.cta {
    display: block;

    background-color: #2196F3;
    border: none;
    border-radius: 4px;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.88;
    letter-spacing: 0.06rem;

    color: #FFFFFF;

    padding: 1rem 3.2rem;

    cursor: pointer;
}

.cta:hover,
.cta:focus {
    background-color: #1186e7;
}

.cta:active {
    transform: translateY(2px);
}

.cta::after {
    background-color: #1186e7;
}

.visually-hidden {
    height: 0;
    overflow: hidden;
    position: absolute;
}

.features-list {
    list-style: none;
}

.features-list-item {
    display: inline-block;
    width: 27rem;
}

.features-list-item-heading {
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1rem;

    color: #212121;
}

.heading {
    font-weight: 700;
    font-size: 3.6rem;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 5rem;

    color: #212121;
}

.services-list {
    list-style: none;
}

.services-list-item {
    display: inline-block;
    height: 29.4rem;
}

.team-list {
    list-style: none;
}

.team-list-item {
    display: inline-block;
    width: 27rem;
    padding-bottom: 3rem;

    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.heading-name {
    font-weight: 500;
    font-size: 1.6rem;
    text-align: center;

    color: #212121;
    margin-bottom: 1rem;
}

.position {
    font-size: 1.6rem;
    text-align: center;
}

.contacts-list {
    list-style: none;
}

.contacts-list-item {
    font-style: normal;
    line-height: 1.7;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

.contacts-list-item:hover {
    text-decoration: underline;
}