*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit; 
}

html {
    font-size: 62.5%; 
}

body {
    box-sizing: border-box;

    font-family: 'Roboto';
    font-size: 1.4rem;
    line-height: 1.71;

    letter-spacing: 0.04rem;

    color: #757575;

    max-width: 117rem;
    margin: 0 auto;
}

.page-header {
    /* border-bottom: 1px solid #ECECEC; */
    padding: 2.5rem 0;
}

.page-header .link {
    text-decoration: none;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.6;
    letter-spacing: 0.03rem;
    color: #212121;
}

.page-header .link:hover,
.page-header .link:focus {
    color: #2196F3;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2.6rem;

    text-decoration: none;
}

.logo-blue {
    color: #2196F3;
}

.logo-black {
    color: #000;
}

.logo:hover,
.logo:focus {
    opacity: 0.7;
}

.inline {
    display: inline-block;
}

.site-nav {
    display: inline-block;
    margin-left: 9.3rem;
}

.item {
    margin-right: 5rem;
}

.header-contact {
    margin-left: 21.5rem;
}

.header-contact .link {
    color: #757575;
}